# Imports

In [1]:
import pandas as pd
import numpy as np
import datetime
import json
import requests
import time
import numpy_financial as npf
from pandas_datareader import data, wb
import pandas_datareader.data as web

In [2]:
pd.options.display.max_rows = 999

### Price

In [3]:
now = datetime.datetime.now()
start_year = int(now.strftime('%Y'))-5
end_year = int(now.strftime('%Y'))
day = int(now.strftime('%d'))
month = int(now.strftime('%m'))
start = datetime.datetime(start_year, month, day)
end = datetime.datetime(end_year, month, day)

def data_pull(tick):
    df = web.DataReader(f'{tick}', 'yahoo', start, end)
    df['Company']= f'{tick}'
    return df

In [4]:
stock_pricing=data_pull('aapl')

In [5]:
stock_pricing

,High,Low,Open,Close,Volume,Adj Close,Company
Date,,,,,,,
2015-08-11,118.180000,113.330002,117.809998,113.489998,97082800.0,104.877724,aapl
2015-08-12,115.419998,109.629997,112.529999,115.239998,101217500.0,106.494896,aapl
2015-08-13,116.400002,114.540001,116.040001,115.150002,48535800.0,106.411743,aapl
2015-08-14,116.309998,114.010002,114.320000,115.959999,42929500.0,107.160263,aapl
2015-08-17,117.650002,115.500000,116.040001,117.160004,40884700.0,108.269211,aapl
...,...,...,...,...,...,...,...
2020-08-05,441.570007,435.589996,437.510010,440.250000,30498000.0,439.457642,aapl
2020-08-06,457.649994,439.190002,441.619995,455.609985,50607200.0,454.790009,aapl
2020-08-07,454.700012,441.170013,452.820007,444.450012,49453300.0,444.450012,aapl
2020-08-10,455.100006,440.000000,450.399994,450.910004,53032600.0,450.910004,aapl
2020-08-11,449.850006,436.426697,447.875000,437.500000,45109051.0,437.500000,aapl

In [6]:
stock_price = stock_pricing['Close'][-1]

stock_price

In [7]:
ticker='aapl'

### Outstanding Shares

In [83]:
outstanding_shares = stock_pricing['Volume'][-1]

In [84]:
outstanding_shares

45109051.0

### Total Dividend Payouts

In [85]:
cfs = pd.read_html(f'https://www.marketwatch.com/investing/stock/{ticker}/financials/cash-flow')
cash_flow = pd.DataFrame(cfs[2]) #[1 or 2]
cash_flow = cash_flow.transpose()
new_header = cash_flow.iloc[0]
cash_flow = cash_flow[1:]
cash_flow.columns = new_header
totdiv = cash_flow['Cash Dividends Paid - Total'][4]
totdiv=totdiv.replace('.', '')
totdiv=totdiv.replace('B','0000000')
totdiv=totdiv.replace('(','')
totdiv=totdiv.replace(')','')
totdiv=float(totdiv)

In [86]:
totdiv

14120000000.0

In [12]:
# this number is 2019. The others are 2020. May have to find a way to do trailing 12 months

### Net Income

In [13]:
inc_st = pd.read_html(f'https://www.marketwatch.com/investing/stock/{ticker}/financials')
income_state = pd.DataFrame(inc_st[1])
income_state = income_state.transpose()
new_header = income_state.iloc[0]
income_state = income_state[1:]
income_state.columns = new_header
net_income =  income_state['Net Income'][4]
net_income=net_income.replace('.', '')
net_income=net_income.replace('B','0000000')
net_income=float(net_income)

In [14]:
net_income

55260000000.0

### Annual Div Per Share

In [15]:
DPS = totdiv/outstanding_shares

In [87]:
DPS

145.44285908523446

### DataFrame

In [17]:
divdata = {'OutstandingShares':  [outstanding_shares],
        'PPS': [stock_price],
        'TotalDividends': [totdiv],
        'NetIncome':[net_income]  
        }

In [18]:
df = pd.DataFrame(divdata)

In [19]:
df

   OutstandingShares    PPS  TotalDividends     NetIncome
0         97082800.0  437.5    1.412000e+10  5.526000e+10

In [20]:
dividend_yield_ratio=DPS/stock_price

In [21]:
dividend_yield_ratio

0.3324408207662502

In [88]:
dividend_payout_ratio=totdiv/net_income

In [90]:
dividend_payout_ratio

0.2555193630112197

------------------------------------------------------------------------

### Historical Dividend DataFrame

In [24]:
ticker='aapl'

In [25]:
histdivs=pd.read_html(f'https://finance.yahoo.com/quote/{ticker}/history?period1=1438214400&period2=1596067200&interval=div%7Csplit&filter=div&frequency=1mo')

In [26]:
histdivs=histdivs[0]

In [27]:
histdivs.drop(histdivs.tail(1).index,inplace=True)

In [28]:
histdivs.drop(columns= ['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6'], inplace=True)

In [29]:
histdivs['Dividends']= histdivs['Dividends'].apply(lambda x: x.replace(' Dividend', ''))

In [30]:
histdivs['Dividends']=histdivs['Dividends'].astype(float)

In [31]:
histdivs

            Date  Dividends
0   May 08, 2020       0.82
1   Feb 07, 2020       0.77
2   Nov 07, 2019       0.77
3   Aug 09, 2019       0.77
4   May 10, 2019       0.77
5   Feb 08, 2019       0.73
6   Nov 08, 2018       0.73
7   Aug 10, 2018       0.73
8   May 11, 2018       0.73
9   Feb 09, 2018       0.63
10  Nov 10, 2017       0.63
11  Aug 10, 2017       0.63
12  May 11, 2017       0.63
13  Feb 09, 2017       0.57
14  Nov 03, 2016       0.57
15  Aug 04, 2016       0.57
16  May 05, 2016       0.57
17  Feb 04, 2016       0.52
18  Nov 05, 2015       0.52
19  Aug 06, 2015       0.52

In [32]:
histdivs['Date'] =  pd.to_datetime(histdivs['Date'])

In [33]:
histdivs

         Date  Dividends
0  2020-05-08       0.82
1  2020-02-07       0.77
2  2019-11-07       0.77
3  2019-08-09       0.77
4  2019-05-10       0.77
5  2019-02-08       0.73
6  2018-11-08       0.73
7  2018-08-10       0.73
8  2018-05-11       0.73
9  2018-02-09       0.63
10 2017-11-10       0.63
11 2017-08-10       0.63
12 2017-05-11       0.63
13 2017-02-09       0.57
14 2016-11-03       0.57
15 2016-08-04       0.57
16 2016-05-05       0.57
17 2016-02-04       0.52
18 2015-11-05       0.52
19 2015-08-06       0.52

In [34]:
def historical_dividends(ticker):
    histdivs=pd.read_html(f'https://finance.yahoo.com/quote/{ticker}/history?period1=1438214400&period2=1596067200&interval=div%7Csplit&filter=div&frequency=1mo')
    histdivs=histdivs[0]
    histdivs.drop(histdivs.tail(1).index,inplace=True)
    histdivs.drop(columns= ['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6'], inplace=True)
    histdivs['Dividends']= histdivs['Dividends'].apply(lambda x: x.replace(' Dividend', ''))
    histdivs['Dividends']=histdivs['Dividends'].astype(float)
    histdivs['Date'] =  pd.to_datetime(histdivs['Date'])
    return histdivs

In [35]:
historical_dividends('aapl')

         Date  Dividends
0  2020-05-08       0.82
1  2020-02-07       0.77
2  2019-11-07       0.77
3  2019-08-09       0.77
4  2019-05-10       0.77
5  2019-02-08       0.73
6  2018-11-08       0.73
7  2018-08-10       0.73
8  2018-05-11       0.73
9  2018-02-09       0.63
10 2017-11-10       0.63
11 2017-08-10       0.63
12 2017-05-11       0.63
13 2017-02-09       0.57
14 2016-11-03       0.57
15 2016-08-04       0.57
16 2016-05-05       0.57
17 2016-02-04       0.52
18 2015-11-05       0.52
19 2015-08-06       0.52

# Dividend Yield Ratio Function

In [114]:
def dividend_yield(ticker):
    divs=historical_dividends(f'{ticker}')
    curdiv=divs['Dividends'][0]
    numerator=curdiv*4
    prices=data_pull(f'{ticker}')
    price_now=prices['Close'][-1]
    dyr=numerator/price_now*100
    return dyr

In [115]:
dividend_yield('aapl')

0.7497142857142857

# Dividend Payout Ratio Function

In [208]:
inc_st = pd.read_html('https://www.marketwatch.com/investing/stock/aapl/financials')
income_state = pd.DataFrame(inc_st[1])
income_state = income_state.transpose()

In [209]:
new_header = income_state.iloc[0]
income_state = income_state[1:]
income_state.columns = new_header

In [210]:
eps_df = income_state['EPS (Basic)']
eps_df = eps_df.to_frame()
eps_df.reset_index(inplace=True)
eps_df.drop([0,1,2,3,5],inplace=True)
eps_df.rename(columns={"index": "date", "EPS (Basic)": "eps"}, inplace=True)
eps_df.reset_index(inplace=True, drop=True)

In [212]:
use_year=int(eps_df['date'][0])

In [213]:
eps=float(eps_df['eps'][0])

In [214]:
divs=historical_dividends('aapl')

In [216]:
divs_use_year = divs[divs['Date'].dt.year == use_year]

In [218]:
numerator=divs_use_year['Dividends'].sum()

In [219]:
dpr=(numerator/eps)*100

In [220]:
dpr

25.396825396825395

In [225]:
def dividend_payout(ticker):
    inc_st = pd.read_html(f'https://www.marketwatch.com/investing/stock/{ticker}/financials')
    income_state = pd.DataFrame(inc_st[1])
    income_state = income_state.transpose()
    new_header = income_state.iloc[0]
    income_state = income_state[1:]
    income_state.columns = new_header
    eps_df = income_state['EPS (Basic)']
    eps_df = eps_df.to_frame()
    eps_df.reset_index(inplace=True)
    eps_df.drop([0,1,2,3,5],inplace=True)
    eps_df.rename(columns={"index": "date", "EPS (Basic)": "eps"}, inplace=True)
    eps_df.reset_index(inplace=True, drop=True)
    use_year=int(eps_df['date'][0])
    eps=float(eps_df['eps'][0])
    divs=historical_dividends(f'{ticker}')
    divs_use_year = divs[divs['Date'].dt.year == use_year]
    numerator=divs_use_year['Dividends'].sum()
    dpr=(numerator/eps)*100
    return dpr

In [226]:
dividend_payout('aapl')

25.396825396825395

###################

### Adjusting Stock price info

In [36]:
pricer=pd.read_html(F'https://finance.yahoo.com/quote/{ticker}/history?period1=1438214400&period2=1596067200&interval=1mo&filter=history&frequency=1mo')

In [37]:
pricer=pricer[0]
pricer.drop(pricer.tail(1).index,inplace=True)
pricer.drop(columns= ['Open', 'High','Low','Adj Close**'], inplace=True)
pricer['Date'] =  pd.to_datetime(pricer['Date'])

In [38]:
pricer

         Date         Close*         Volume
0  2020-07-01         425.04      755124000
1  2020-06-01         364.80      810739300
2  2020-05-08  0.82 Dividend  0.82 Dividend
3  2020-05-01         317.94      701520600
4  2020-04-01         293.80      816222400
5  2020-03-01         254.29     1570018100
6  2020-02-07  0.77 Dividend  0.77 Dividend
7  2020-02-01         273.36      754584100
8  2020-01-01         309.51      733592600
9  2019-12-01         293.65      597198700
10 2019-11-07  0.77 Dividend  0.77 Dividend
11 2019-11-01         267.25      448331500
12 2019-10-01         248.76      608302700
13 2019-09-01         223.97      542567100
14 2019-08-09  0.77 Dividend  0.77 Dividend
15 2019-08-01         208.74      681074600
16 2019-07-01         213.04      473957000
17 2019-06-01         197.92      515187300
18 2019-05-10  0.77 Dividend  0.77 Dividend
19 2019-05-01         175.07      739456600
20 2019-04-01         200.67      506117700
21 2019-03-01         189.95      650981400
22 2019-02-08  0.73 Dividend  0.73 Dividend
23 2019-02-01         173.15      472540600
24 2019-01-01         166.44      828087400
25 2018-12-01         157.74      898922500
26 2018-11-08  0.73 Dividend  0.73 Dividend
27 2018-11-01         178.58      961326400
28 2018-10-01         218.86      789748500
29 2018-09-01         225.74      678972000
30 2018-08-10  0.73 Dividend  0.73 Dividend
31 2018-08-01         227.63      700318900
32 2018-07-01         190.29      393691400
33 2018-06-01         185.11      527624500
34 2018-05-11  0.73 Dividend  0.73 Dividend
35 2018-05-01         186.87      620976300
36 2018-04-01         165.26      666154300
37 2018-03-01         167.78      713727700
38 2018-02-09  0.63 Dividend  0.63 Dividend
39 2018-02-01         178.12      927894300
40 2018-01-01         167.43      659679400
41 2017-12-01         169.23      531183800
42 2017-11-10  0.63 Dividend  0.63 Dividend
43 2017-11-01         171.85      600663400
44 2017-10-01         169.04      504291300
45 2017-09-01         154.12      680374100
46 2017-08-10  0.63 Dividend  0.63 Dividend
47 2017-08-01         164.00      661069000
48 2017-07-01         148.73      422011900
49 2017-06-01         144.02      684178100
50 2017-05-11  0.63 Dividend  0.63 Dividend
51 2017-05-01         152.76      653981800
52 2017-04-01         143.65      373304100
53 2017-03-01         143.66      561628400
54 2017-02-09  0.57 Dividend  0.57 Dividend
55 2017-02-01         136.99      574968600
56 2017-01-01         121.35      563122000
57 2016-12-01         115.82      608771700
58 2016-11-03  0.57 Dividend  0.57 Dividend
59 2016-11-01         110.52      721555000
60 2016-10-01         113.54      686914300
61 2016-09-01         113.05      968015600
62 2016-08-04  0.57 Dividend  0.57 Dividend
63 2016-08-01         106.10      630128500
64 2016-07-01         104.21      685779600
65 2016-06-01          95.60      779497700
66 2016-05-05  0.57 Dividend  0.57 Dividend
67 2016-05-01          99.86      900671500
68 2016-04-01          93.74      872383700
69 2016-03-01         108.99      746049600
70 2016-02-04  0.52 Dividend  0.52 Dividend
71 2016-02-01          96.69      810862600
72 2016-01-01          97.34     1271848000
73 2015-12-01         105.26      921915200
74 2015-11-05  0.52 Dividend  0.52 Dividend
75 2015-11-01         118.30      750640600
76 2015-10-01         119.50     1112512100
77 2015-09-01         110.30     1206547300
78 2015-08-06  0.52 Dividend  0.52 Dividend
79 2015-08-01         112.92     1786858800

In [39]:
droplist = [2,6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78]

In [40]:
pricer.drop(index=droplist, inplace=True)

In [41]:
pricer

         Date  Close*      Volume
0  2020-07-01  425.04   755124000
1  2020-06-01  364.80   810739300
3  2020-05-01  317.94   701520600
4  2020-04-01  293.80   816222400
5  2020-03-01  254.29  1570018100
7  2020-02-01  273.36   754584100
8  2020-01-01  309.51   733592600
9  2019-12-01  293.65   597198700
11 2019-11-01  267.25   448331500
12 2019-10-01  248.76   608302700
13 2019-09-01  223.97   542567100
15 2019-08-01  208.74   681074600
16 2019-07-01  213.04   473957000
17 2019-06-01  197.92   515187300
19 2019-05-01  175.07   739456600
20 2019-04-01  200.67   506117700
21 2019-03-01  189.95   650981400
23 2019-02-01  173.15   472540600
24 2019-01-01  166.44   828087400
25 2018-12-01  157.74   898922500
27 2018-11-01  178.58   961326400
28 2018-10-01  218.86   789748500
29 2018-09-01  225.74   678972000
31 2018-08-01  227.63   700318900
32 2018-07-01  190.29   393691400
33 2018-06-01  185.11   527624500
35 2018-05-01  186.87   620976300
36 2018-04-01  165.26   666154300
37 2018-03-01  167.78   713727700
39 2018-02-01  178.12   927894300
40 2018-01-01  167.43   659679400
41 2017-12-01  169.23   531183800
43 2017-11-01  171.85   600663400
44 2017-10-01  169.04   504291300
45 2017-09-01  154.12   680374100
47 2017-08-01  164.00   661069000
48 2017-07-01  148.73   422011900
49 2017-06-01  144.02   684178100
51 2017-05-01  152.76   653981800
52 2017-04-01  143.65   373304100
53 2017-03-01  143.66   561628400
55 2017-02-01  136.99   574968600
56 2017-01-01  121.35   563122000
57 2016-12-01  115.82   608771700
59 2016-11-01  110.52   721555000
60 2016-10-01  113.54   686914300
61 2016-09-01  113.05   968015600
63 2016-08-01  106.10   630128500
64 2016-07-01  104.21   685779600
65 2016-06-01   95.60   779497700
67 2016-05-01   99.86   900671500
68 2016-04-01   93.74   872383700
69 2016-03-01  108.99   746049600
71 2016-02-01   96.69   810862600
72 2016-01-01   97.34  1271848000
73 2015-12-01  105.26   921915200
75 2015-11-01  118.30   750640600
76 2015-10-01  119.50  1112512100
77 2015-09-01  110.30  1206547300
79 2015-08-01  112.92  1786858800

In [42]:
def historical_price(ticker):
    pricer=pd.read_html(f'https://finance.yahoo.com/quote/{ticker}/
                        history?period1=1438214400&period2=1596067200&
                        interval=1mo&filter=history&frequency=1mo')
    pricer=pricer[0]
    pricer.drop(pricer.tail(1).index,inplace=True)
    pricer.drop(columns= ['Open', 'High','Low','Adj Close**'], inplace=True)
    pricer['Date'] =  pd.to_datetime(pricer['Date'])
    droplist = [2,6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78]
    pricer.drop(index=droplist, inplace=True)
    return pricer

In [43]:
historical_price(ticker)

         Date  Close*      Volume
0  2020-07-01  425.04   755124000
1  2020-06-01  364.80   810739300
3  2020-05-01  317.94   701520600
4  2020-04-01  293.80   816222400
5  2020-03-01  254.29  1570018100
7  2020-02-01  273.36   754584100
8  2020-01-01  309.51   733592600
9  2019-12-01  293.65   597198700
11 2019-11-01  267.25   448331500
12 2019-10-01  248.76   608302700
13 2019-09-01  223.97   542567100
15 2019-08-01  208.74   681074600
16 2019-07-01  213.04   473957000
17 2019-06-01  197.92   515187300
19 2019-05-01  175.07   739456600
20 2019-04-01  200.67   506117700
21 2019-03-01  189.95   650981400
23 2019-02-01  173.15   472540600
24 2019-01-01  166.44   828087400
25 2018-12-01  157.74   898922500
27 2018-11-01  178.58   961326400
28 2018-10-01  218.86   789748500
29 2018-09-01  225.74   678972000
31 2018-08-01  227.63   700318900
32 2018-07-01  190.29   393691400
33 2018-06-01  185.11   527624500
35 2018-05-01  186.87   620976300
36 2018-04-01  165.26   666154300
37 2018-03-01  167.78   713727700
39 2018-02-01  178.12   927894300
40 2018-01-01  167.43   659679400
41 2017-12-01  169.23   531183800
43 2017-11-01  171.85   600663400
44 2017-10-01  169.04   504291300
45 2017-09-01  154.12   680374100
47 2017-08-01  164.00   661069000
48 2017-07-01  148.73   422011900
49 2017-06-01  144.02   684178100
51 2017-05-01  152.76   653981800
52 2017-04-01  143.65   373304100
53 2017-03-01  143.66   561628400
55 2017-02-01  136.99   574968600
56 2017-01-01  121.35   563122000
57 2016-12-01  115.82   608771700
59 2016-11-01  110.52   721555000
60 2016-10-01  113.54   686914300
61 2016-09-01  113.05   968015600
63 2016-08-01  106.10   630128500
64 2016-07-01  104.21   685779600
65 2016-06-01   95.60   779497700
67 2016-05-01   99.86   900671500
68 2016-04-01   93.74   872383700
69 2016-03-01  108.99   746049600
71 2016-02-01   96.69   810862600
72 2016-01-01   97.34  1271848000
73 2015-12-01  105.26   921915200
75 2015-11-01  118.30   750640600
76 2015-10-01  119.50  1112512100
77 2015-09-01  110.30  1206547300
79 2015-08-01  112.92  1786858800

### Historics Merging

In [44]:
historics= pd.merge(pricer, histdivs, how='outer')

In [45]:
historics

         Date  Close*      Volume  Dividends
0  2020-07-01  425.04   755124000        NaN
1  2020-06-01  364.80   810739300        NaN
2  2020-05-01  317.94   701520600        NaN
3  2020-04-01  293.80   816222400        NaN
4  2020-03-01  254.29  1570018100        NaN
5  2020-02-01  273.36   754584100        NaN
6  2020-01-01  309.51   733592600        NaN
7  2019-12-01  293.65   597198700        NaN
8  2019-11-01  267.25   448331500        NaN
9  2019-10-01  248.76   608302700        NaN
10 2019-09-01  223.97   542567100        NaN
11 2019-08-01  208.74   681074600        NaN
12 2019-07-01  213.04   473957000        NaN
13 2019-06-01  197.92   515187300        NaN
14 2019-05-01  175.07   739456600        NaN
15 2019-04-01  200.67   506117700        NaN
16 2019-03-01  189.95   650981400        NaN
17 2019-02-01  173.15   472540600        NaN
18 2019-01-01  166.44   828087400        NaN
19 2018-12-01  157.74   898922500        NaN
20 2018-11-01  178.58   961326400        NaN
21 2018-10-01  218.86   789748500        NaN
22 2018-09-01  225.74   678972000        NaN
23 2018-08-01  227.63   700318900        NaN
24 2018-07-01  190.29   393691400        NaN
25 2018-06-01  185.11   527624500        NaN
26 2018-05-01  186.87   620976300        NaN
27 2018-04-01  165.26   666154300        NaN
28 2018-03-01  167.78   713727700        NaN
29 2018-02-01  178.12   927894300        NaN
30 2018-01-01  167.43   659679400        NaN
31 2017-12-01  169.23   531183800        NaN
32 2017-11-01  171.85   600663400        NaN
33 2017-10-01  169.04   504291300        NaN
34 2017-09-01  154.12   680374100        NaN
35 2017-08-01  164.00   661069000        NaN
36 2017-07-01  148.73   422011900        NaN
37 2017-06-01  144.02   684178100        NaN
38 2017-05-01  152.76   653981800        NaN
39 2017-04-01  143.65   373304100        NaN
40 2017-03-01  143.66   561628400        NaN
41 2017-02-01  136.99   574968600        NaN
42 2017-01-01  121.35   563122000        NaN
43 2016-12-01  115.82   608771700        NaN
44 2016-11-01  110.52   721555000        NaN
45 2016-10-01  113.54   686914300        NaN
46 2016-09-01  113.05   968015600        NaN
47 2016-08-01  106.10   630128500        NaN
48 2016-07-01  104.21   685779600        NaN
49 2016-06-01   95.60   779497700        NaN
50 2016-05-01   99.86   900671500        NaN
51 2016-04-01   93.74   872383700        NaN
52 2016-03-01  108.99   746049600        NaN
53 2016-02-01   96.69   810862600        NaN
54 2016-01-01   97.34  1271848000        NaN
55 2015-12-01  105.26   921915200        NaN
56 2015-11-01  118.30   750640600        NaN
57 2015-10-01  119.50  1112512100        NaN
58 2015-09-01  110.30  1206547300        NaN
59 2015-08-01  112.92  1786858800        NaN
60 2020-05-08     NaN         NaN       0.82
61 2020-02-07     NaN         NaN       0.77
62 2019-11-07     NaN         NaN       0.77
63 2019-08-09     NaN         NaN       0.77
64 2019-05-10     NaN         NaN       0.77
65 2019-02-08     NaN         NaN       0.73
66 2018-11-08     NaN         NaN       0.73
67 2018-08-10     NaN         NaN       0.73
68 2018-05-11     NaN         NaN       0.73
69 2018-02-09     NaN         NaN       0.63
70 2017-11-10     NaN         NaN       0.63
71 2017-08-10     NaN         NaN       0.63
72 2017-05-11     NaN         NaN       0.63
73 2017-02-09     NaN         NaN       0.57
74 2016-11-03     NaN         NaN       0.57
75 2016-08-04     NaN         NaN       0.57
76 2016-05-05     NaN         NaN       0.57
77 2016-02-04     NaN         NaN       0.52
78 2015-11-05     NaN         NaN       0.52
79 2015-08-06     NaN         NaN       0.52

In [46]:
historics=historics.sort_values(by='Date',ascending=False)

In [47]:
cols = list(historics.columns.values)

In [48]:
cols

['Date', 'Close*', 'Volume', 'Dividends']

In [49]:
column_titles = ['Date','Close*','Volume','Dividends']

historics=historics.reindex(columns=column_titles)

In [50]:
historics

         Date  Close*      Volume  Dividends
0  2020-07-01  425.04   755124000        NaN
1  2020-06-01  364.80   810739300        NaN
60 2020-05-08     NaN         NaN       0.82
2  2020-05-01  317.94   701520600        NaN
3  2020-04-01  293.80   816222400        NaN
4  2020-03-01  254.29  1570018100        NaN
61 2020-02-07     NaN         NaN       0.77
5  2020-02-01  273.36   754584100        NaN
6  2020-01-01  309.51   733592600        NaN
7  2019-12-01  293.65   597198700        NaN
62 2019-11-07     NaN         NaN       0.77
8  2019-11-01  267.25   448331500        NaN
9  2019-10-01  248.76   608302700        NaN
10 2019-09-01  223.97   542567100        NaN
63 2019-08-09     NaN         NaN       0.77
11 2019-08-01  208.74   681074600        NaN
12 2019-07-01  213.04   473957000        NaN
13 2019-06-01  197.92   515187300        NaN
64 2019-05-10     NaN         NaN       0.77
14 2019-05-01  175.07   739456600        NaN
15 2019-04-01  200.67   506117700        NaN
16 2019-03-01  189.95   650981400        NaN
65 2019-02-08     NaN         NaN       0.73
17 2019-02-01  173.15   472540600        NaN
18 2019-01-01  166.44   828087400        NaN
19 2018-12-01  157.74   898922500        NaN
66 2018-11-08     NaN         NaN       0.73
20 2018-11-01  178.58   961326400        NaN
21 2018-10-01  218.86   789748500        NaN
22 2018-09-01  225.74   678972000        NaN
67 2018-08-10     NaN         NaN       0.73
23 2018-08-01  227.63   700318900        NaN
24 2018-07-01  190.29   393691400        NaN
25 2018-06-01  185.11   527624500        NaN
68 2018-05-11     NaN         NaN       0.73
26 2018-05-01  186.87   620976300        NaN
27 2018-04-01  165.26   666154300        NaN
28 2018-03-01  167.78   713727700        NaN
69 2018-02-09     NaN         NaN       0.63
29 2018-02-01  178.12   927894300        NaN
30 2018-01-01  167.43   659679400        NaN
31 2017-12-01  169.23   531183800        NaN
70 2017-11-10     NaN         NaN       0.63
32 2017-11-01  171.85   600663400        NaN
33 2017-10-01  169.04   504291300        NaN
34 2017-09-01  154.12   680374100        NaN
71 2017-08-10     NaN         NaN       0.63
35 2017-08-01  164.00   661069000        NaN
36 2017-07-01  148.73   422011900        NaN
37 2017-06-01  144.02   684178100        NaN
72 2017-05-11     NaN         NaN       0.63
38 2017-05-01  152.76   653981800        NaN
39 2017-04-01  143.65   373304100        NaN
40 2017-03-01  143.66   561628400        NaN
73 2017-02-09     NaN         NaN       0.57
41 2017-02-01  136.99   574968600        NaN
42 2017-01-01  121.35   563122000        NaN
43 2016-12-01  115.82   608771700        NaN
74 2016-11-03     NaN         NaN       0.57
44 2016-11-01  110.52   721555000        NaN
45 2016-10-01  113.54   686914300        NaN
46 2016-09-01  113.05   968015600        NaN
75 2016-08-04     NaN         NaN       0.57
47 2016-08-01  106.10   630128500        NaN
48 2016-07-01  104.21   685779600        NaN
49 2016-06-01   95.60   779497700        NaN
76 2016-05-05     NaN         NaN       0.57
50 2016-05-01   99.86   900671500        NaN
51 2016-04-01   93.74   872383700        NaN
52 2016-03-01  108.99   746049600        NaN
77 2016-02-04     NaN         NaN       0.52
53 2016-02-01   96.69   810862600        NaN
54 2016-01-01   97.34  1271848000        NaN
55 2015-12-01  105.26   921915200        NaN
78 2015-11-05     NaN         NaN       0.52
56 2015-11-01  118.30   750640600        NaN
57 2015-10-01  119.50  1112512100        NaN
58 2015-09-01  110.30  1206547300        NaN
79 2015-08-06     NaN         NaN       0.52
59 2015-08-01  112.92  1786858800        NaN

In [51]:
historics.reset_index(drop=True, inplace=True)

In [52]:
historics['Ticker']= ticker

In [53]:
historics

         Date  Close*      Volume  Dividends Ticker
0  2020-07-01  425.04   755124000        NaN   aapl
1  2020-06-01  364.80   810739300        NaN   aapl
2  2020-05-08     NaN         NaN       0.82   aapl
3  2020-05-01  317.94   701520600        NaN   aapl
4  2020-04-01  293.80   816222400        NaN   aapl
5  2020-03-01  254.29  1570018100        NaN   aapl
6  2020-02-07     NaN         NaN       0.77   aapl
7  2020-02-01  273.36   754584100        NaN   aapl
8  2020-01-01  309.51   733592600        NaN   aapl
9  2019-12-01  293.65   597198700        NaN   aapl
10 2019-11-07     NaN         NaN       0.77   aapl
11 2019-11-01  267.25   448331500        NaN   aapl
12 2019-10-01  248.76   608302700        NaN   aapl
13 2019-09-01  223.97   542567100        NaN   aapl
14 2019-08-09     NaN         NaN       0.77   aapl
15 2019-08-01  208.74   681074600        NaN   aapl
16 2019-07-01  213.04   473957000        NaN   aapl
17 2019-06-01  197.92   515187300        NaN   aapl
18 2019-05-10     NaN         NaN       0.77   aapl
19 2019-05-01  175.07   739456600        NaN   aapl
20 2019-04-01  200.67   506117700        NaN   aapl
21 2019-03-01  189.95   650981400        NaN   aapl
22 2019-02-08     NaN         NaN       0.73   aapl
23 2019-02-01  173.15   472540600        NaN   aapl
24 2019-01-01  166.44   828087400        NaN   aapl
25 2018-12-01  157.74   898922500        NaN   aapl
26 2018-11-08     NaN         NaN       0.73   aapl
27 2018-11-01  178.58   961326400        NaN   aapl
28 2018-10-01  218.86   789748500        NaN   aapl
29 2018-09-01  225.74   678972000        NaN   aapl
30 2018-08-10     NaN         NaN       0.73   aapl
31 2018-08-01  227.63   700318900        NaN   aapl
32 2018-07-01  190.29   393691400        NaN   aapl
33 2018-06-01  185.11   527624500        NaN   aapl
34 2018-05-11     NaN         NaN       0.73   aapl
35 2018-05-01  186.87   620976300        NaN   aapl
36 2018-04-01  165.26   666154300        NaN   aapl
37 2018-03-01  167.78   713727700        NaN   aapl
38 2018-02-09     NaN         NaN       0.63   aapl
39 2018-02-01  178.12   927894300        NaN   aapl
40 2018-01-01  167.43   659679400        NaN   aapl
41 2017-12-01  169.23   531183800        NaN   aapl
42 2017-11-10     NaN         NaN       0.63   aapl
43 2017-11-01  171.85   600663400        NaN   aapl
44 2017-10-01  169.04   504291300        NaN   aapl
45 2017-09-01  154.12   680374100        NaN   aapl
46 2017-08-10     NaN         NaN       0.63   aapl
47 2017-08-01  164.00   661069000        NaN   aapl
48 2017-07-01  148.73   422011900        NaN   aapl
49 2017-06-01  144.02   684178100        NaN   aapl
50 2017-05-11     NaN         NaN       0.63   aapl
51 2017-05-01  152.76   653981800        NaN   aapl
52 2017-04-01  143.65   373304100        NaN   aapl
53 2017-03-01  143.66   561628400        NaN   aapl
54 2017-02-09     NaN         NaN       0.57   aapl
55 2017-02-01  136.99   574968600        NaN   aapl
56 2017-01-01  121.35   563122000        NaN   aapl
57 2016-12-01  115.82   608771700        NaN   aapl
58 2016-11-03     NaN         NaN       0.57   aapl
59 2016-11-01  110.52   721555000        NaN   aapl
60 2016-10-01  113.54   686914300        NaN   aapl
61 2016-09-01  113.05   968015600        NaN   aapl
62 2016-08-04     NaN         NaN       0.57   aapl
63 2016-08-01  106.10   630128500        NaN   aapl
64 2016-07-01  104.21   685779600        NaN   aapl
65 2016-06-01   95.60   779497700        NaN   aapl
66 2016-05-05     NaN         NaN       0.57   aapl
67 2016-05-01   99.86   900671500        NaN   aapl
68 2016-04-01   93.74   872383700        NaN   aapl
69 2016-03-01  108.99   746049600        NaN   aapl
70 2016-02-04     NaN         NaN       0.52   aapl
71 2016-02-01   96.69   810862600        NaN   aapl
72 2016-01-01   97.34  1271848000        NaN   aapl
73 2015-12-01  105.26   921915200        NaN   aapl
74 2015-11-05     NaN         NaN       0.52   aapl
75 2015-11-01  118.30   750640600        NaN   aapl
76 2015-10-01  119.50  1112512100        NaN   aapl
77 2015-09-01  110.30  1206547300        NaN   aapl
78 2015-08-06     NaN         NaN       0.52   aapl
79 2015-08-01  112.92  1786858800        NaN   aapl

In [81]:
def stock_history(ticker):
### this function runs two functions to compile history stock price 
### and dividend data. It then compiles it into one dataframe
    divy=historical_dividends(ticker)
    pricy=historical_price(ticker)
    historics= pd.merge(pricy, divy, how='outer')
    historics=historics.sort_values(by='Date',ascending=False)
    cols = list(historics.columns.values)
    column_titles = ['Date','Close*','Volume','Dividends']
    historics=historics.reindex(columns=column_titles)
    historics.reset_index(drop=True, inplace=True)
    historics['Ticker']= ticker
    historics.set_index('Date', inplace=True)
    # Below is growth rate and outputs
    divgrowthrate=(divy['Dividends'].iloc[0]-divy['Dividends'].iloc[-1])/divy['Dividends'].iloc[0]*100
    print (f'Historical Stock Price & Dividends for {ticker.upper()}')
    print ('----------------------------------------------------------')
    print (f'Five Year Dividend Growth Rate: {divgrowthrate}%')
    return historics

In [82]:
stock_history(ticker)

Historical Stock Price & Dividends for AAPL
----------------------------------------------------------
Five Year Dividend Growth Rate 36.58536585365853%

            Close*      Volume  Dividends Ticker
Date
2020-07-01  425.04   755124000        NaN   aapl
2020-06-01  364.80   810739300        NaN   aapl
2020-05-08     NaN         NaN       0.82   aapl
2020-05-01  317.94   701520600        NaN   aapl
2020-04-01  293.80   816222400        NaN   aapl
2020-03-01  254.29  1570018100        NaN   aapl
2020-02-07     NaN         NaN       0.77   aapl
2020-02-01  273.36   754584100        NaN   aapl
2020-01-01  309.51   733592600        NaN   aapl
2019-12-01  293.65   597198700        NaN   aapl
2019-11-07     NaN         NaN       0.77   aapl
2019-11-01  267.25   448331500        NaN   aapl
2019-10-01  248.76   608302700        NaN   aapl
2019-09-01  223.97   542567100        NaN   aapl
2019-08-09     NaN         NaN       0.77   aapl
2019-08-01  208.74   681074600        NaN   aapl
2019-07-01  213.04   473957000        NaN   aapl
2019-06-01  197.92   515187300        NaN   aapl
2019-05-10     NaN         NaN       0.77   aapl
2019-05-01  175.07   739456600        NaN   aapl
2019-04-01  200.67   506117700        NaN   aapl
2019-03-01  189.95   650981400        NaN   aapl
2019-02-08     NaN         NaN       0.73   aapl
2019-02-01  173.15   472540600        NaN   aapl
2019-01-01  166.44   828087400        NaN   aapl
2018-12-01  157.74   898922500        NaN   aapl
2018-11-08     NaN         NaN       0.73   aapl
2018-11-01  178.58   961326400        NaN   aapl
2018-10-01  218.86   789748500        NaN   aapl
2018-09-01  225.74   678972000        NaN   aapl
2018-08-10     NaN         NaN       0.73   aapl
2018-08-01  227.63   700318900        NaN   aapl
2018-07-01  190.29   393691400        NaN   aapl
2018-06-01  185.11   527624500        NaN   aapl
2018-05-11     NaN         NaN       0.73   aapl
2018-05-01  186.87   620976300        NaN   aapl
2018-04-01  165.26   666154300        NaN   aapl
2018-03-01  167.78   713727700        NaN   aapl
2018-02-09     NaN         NaN       0.63   aapl
2018-02-01  178.12   927894300        NaN   aapl
2018-01-01  167.43   659679400        NaN   aapl
2017-12-01  169.23   531183800        NaN   aapl
2017-11-10     NaN         NaN       0.63   aapl
2017-11-01  171.85   600663400        NaN   aapl
2017-10-01  169.04   504291300        NaN   aapl
2017-09-01  154.12   680374100        NaN   aapl
2017-08-10     NaN         NaN       0.63   aapl
2017-08-01  164.00   661069000        NaN   aapl
2017-07-01  148.73   422011900        NaN   aapl
2017-06-01  144.02   684178100        NaN   aapl
2017-05-11     NaN         NaN       0.63   aapl
2017-05-01  152.76   653981800        NaN   aapl
2017-04-01  143.65   373304100        NaN   aapl
2017-03-01  143.66   561628400        NaN   aapl
2017-02-09     NaN         NaN       0.57   aapl
2017-02-01  136.99   574968600        NaN   aapl
2017-01-01  121.35   563122000        NaN   aapl
2016-12-01  115.82   608771700        NaN   aapl
2016-11-03     NaN         NaN       0.57   aapl
2016-11-01  110.52   721555000        NaN   aapl
2016-10-01  113.54   686914300        NaN   aapl
2016-09-01  113.05   968015600        NaN   aapl
2016-08-04     NaN         NaN       0.57   aapl
2016-08-01  106.10   630128500        NaN   aapl
2016-07-01  104.21   685779600        NaN   aapl
2016-06-01   95.60   779497700        NaN   aapl
2016-05-05     NaN         NaN       0.57   aapl
2016-05-01   99.86   900671500        NaN   aapl
2016-04-01   93.74   872383700        NaN   aapl
2016-03-01  108.99   746049600        NaN   aapl
2016-02-04     NaN         NaN       0.52   aapl
2016-02-01   96.69   810862600        NaN   aapl
2016-01-01   97.34  1271848000        NaN   aapl
2015-12-01  105.26   921915200        NaN   aapl
2015-11-05     NaN         NaN       0.52   aapl
2015-11-01  118.30   750640600        NaN   aapl
2015-10-01  119.50  1112512100        NaN   aapl
2015-09-01  110.30  1206547300        NaN   aapl
2015-08-06     NaN         NaN       0.52   aapl
2015-08-01  112.92  1786858800        NaN   aapl

# Dividend Analysis Function

In [234]:
def analyze_dividend_performance(ticker):
    ### this function runs multiple functions to analyze stock dividend performance
    try:
        divy=historical_dividends(ticker)
        pricy=historical_price(ticker)
        historics= pd.merge(pricy, divy, how='outer')
        historics=historics.sort_values(by='Date',ascending=False)
        cols = list(historics.columns.values)
        column_titles = ['Date','Close*','Volume','Dividends']
        historics=historics.reindex(columns=column_titles)
        historics.reset_index(drop=True, inplace=True)
        historics['Ticker']= ticker
        historics.set_index('Date', inplace=True)
        # Below is growth rate and outputs
        divgrowthrate=(divy['Dividends'].iloc[0]-divy['Dividends'].iloc[-1])/divy['Dividends'].iloc[0]*100
        dyr=dividend_yield(f'{ticker}')
        dpr=dividend_payout(f'{ticker}')
        print (f'Dividend Performance for {ticker.upper()}')
        print ('----------------------------------------------------------')
        print (f'Five Year Dividend Growth Rate: {divgrowthrate}%')
        print (f'Dividend Yield Ratio: {dyr}%')
        print (f'Dividend Payout Ratio: {dpr}%')
        ########
        return historics
    except:
        print (f'Could not analyze {ticker.upper()}. Confirm stock ticker is correct and the stock pays dividends.')

In [236]:
analyze_dividend_performance('msft')

Dividend Performance for MSFT
----------------------------------------------------------
Five Year Dividend Growth Rate: 39.21568627450981%
Dividend Yield Ratio: 1.6127445772704818%
Dividend Payout Ratio: 17.525773195876287%

            Close*      Volume  Dividends Ticker
Date
2020-07-01  205.01   770510200        NaN   msft
2020-06-01  203.51   764905600        NaN   msft
2020-05-20     NaN         NaN       0.51   msft
2020-05-01  183.25   688854900        NaN   msft
2020-04-01  179.21   984596200        NaN   msft
2020-03-01  157.71  1612695500        NaN   msft
2020-02-19     NaN         NaN       0.51   msft
2020-02-01  162.01   887402700        NaN   msft
2020-01-01  170.23   558530000        NaN   msft
2019-12-01  157.70   450303300        NaN   msft
2019-11-20     NaN         NaN       0.51   msft
2019-11-01  151.38   392371800        NaN   msft
2019-10-01  143.37   549523400        NaN   msft
2019-09-01  139.03   472544800        NaN   msft
2019-08-14     NaN         NaN       0.46   msft
2019-08-01  137.86   584474300        NaN   msft
2019-07-01  136.27   484547500        NaN   msft
2019-06-01  133.96   508316500        NaN   msft
2019-05-15     NaN         NaN       0.46   msft
2019-05-01  123.68   547218800        NaN   msft
2019-04-01  130.60   433157700        NaN   msft
2019-03-01  117.94   589095800        NaN   msft
2019-02-20     NaN         NaN       0.46   msft
2019-02-01  112.03   469095900        NaN   msft
2019-01-01  104.43   714212800        NaN   msft
2018-12-01  101.57   944314600        NaN   msft
2018-11-14     NaN         NaN       0.46   msft
2018-11-01  110.89   720228600        NaN   msft
2018-10-01  106.81   927548000        NaN   msft
2018-09-01  114.37   480255500        NaN   msft
2018-08-15     NaN         NaN       0.42   msft
2018-08-01  112.33   456628100        NaN   msft
2018-07-01  106.08   569352300        NaN   msft
2018-06-01   98.61   602585200        NaN   msft
2018-05-16     NaN         NaN       0.42   msft
2018-05-01   98.84   509417900        NaN   msft
2018-04-01   93.52   668130700        NaN   msft
2018-03-01   91.27   750754800        NaN   msft
2018-02-14     NaN         NaN       0.42   msft
2018-02-01   93.77   725663300        NaN   msft
2018-01-01   95.01   574258400        NaN   msft
2017-12-01   85.54   466203300        NaN   msft
2017-11-15     NaN         NaN       0.42   msft
2017-11-01   84.17   421926000        NaN   msft
2017-10-01   83.18   449950000        NaN   msft
2017-09-01   74.49   375983900        NaN   msft
2017-08-15     NaN         NaN       0.39   msft
2017-08-01   74.77   444070500        NaN   msft
2017-07-01   72.70   469851200        NaN   msft
2017-06-01   68.93   629716800        NaN   msft
2017-05-16     NaN         NaN       0.39   msft
2017-05-01   69.84   517218500        NaN   msft
2017-04-01   68.46   433191200        NaN   msft
2017-03-01   65.86   489169700        NaN   msft
2017-02-14     NaN         NaN       0.39   msft
2017-02-01   63.98   440744000        NaN   msft
2017-01-01   64.65   493453500        NaN   msft
2016-12-01   62.14   513579700        NaN   msft
2016-11-15     NaN         NaN       0.39   msft
2016-11-01   60.26   613056800        NaN   msft
2016-10-01   59.92   614841800        NaN   msft
2016-09-01   57.60   526427800        NaN   msft
2016-08-16     NaN         NaN       0.36   msft
2016-08-01   57.46   467078900        NaN   msft
2016-07-01   56.68   647587800        NaN   msft
2016-06-01   51.17   823627000        NaN   msft
2016-05-17     NaN         NaN       0.36   msft
2016-05-01   53.00   530704800        NaN   msft
2016-04-01   49.87   699025700        NaN   msft
2016-03-01   55.23   641110900        NaN   msft
2016-02-16     NaN         NaN       0.36   msft
2016-02-01   50.88   814770900        NaN   msft
2016-01-01   55.09   927914700        NaN   msft
2015-12-01   55.48   792820900        NaN   msft
2015-11-17     NaN         NaN       0.36   msft
2015-11-01   54.35   662626600        NaN   msft
2015-10-01   52.64   856716800        NaN   msft
2015-09-01   44.26   673079900        NaN   msft
2015-08-18     NaN         NaN       0.31   msft
2015-08-01   43.52   776480300        NaN   msft